<head lang="en">
    <title>AnimeInfo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/main-page.css" rel="stylesheet">
    <link href="/header.css" rel="stylesheet">
</head>
<%- include("partials/header.ejs") %>

<body>
    <div class="container">

    <div class="hero"> 
    <p class="pre-title">Welcome to </p>
    <h1 id="title">AnimeInfo</h1>
    </div>
     <div class="input-box">
    <form action="/searchanime" method="post">
        <input class="search-box" type="text" name="animeName" placeholder="Search by name">
        <input type="hidden" name="search" value="animeName">  
            
        </button>
    </form>
    </div>
</div>
</body>
